body {
    background-color: lavender;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
 .portfolio-p {
     text-align: center;
 }

.btn {
    background-color : pink;
    border : pink;
    border-radius : 50%;
    margin-top : 5px;
    
}

