body {
    background-color: lavender;
    font-family: 'Pontano Sans', sans-serif;
}
 .portfolio-p {
     text-align: center;
 }

.btn {
    background-color : pink;
    border : pink;
    border-radius : 50%;
    margin-top : 5px;
    
}
 .card-folio {
     background-color : rgb(255, 237, 136);
 }

 .navbar {
    background-color : rgb(154, 205, 214);
     border : solid 5px;
     border-color : white;
 }

 .container {
     border : black 5px;
 }
