body {
  background-color: lavender;
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior : smooth !important;
}
.portfolio-p {
  text-align: center;
}

.btn {
  background-color: #f5cbc9;
  border: pink;
  color: rgb(66, 66, 66);
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: rgb(250, 143, 161);
}
.card-folio {
  background-color: rgb(255, 237, 136);
}

.navbar {
  background-color: #a6d6e8;
}

.container-folio {
  margin-bottom: 20px;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(255, 237, 136);
  color: black;
  text-align: center;
  margin-top: 40px !important;
}

.folioheader {
  font-weight: bold;
  text-align: center;
  color: #69648c;
}

.card-body {
  text-align: center;
}

.card-title {
  font-weight: bolder;
}

.card-body-index {
  margin: 10px;
}

h1 {
  font-family: "Oswald", cursive;
  font-size: 60px;
  color: black;
}


.fa {
  padding: 5px;
  font-size: 20px;
  width: 30px;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: none;
  color: black;
}

.fa-linkedin {
  background: none;
  color: black;
}

.fa-github {
  background: none;
  color: black;
}

.nav-link {
  font-size: 32px;
  float: right;
}

.container-intro {
  padding-bottom: 40px;
}

.card {
  border: solid;
  border-color: rgb(255, 237, 136);
  margin: 10px;
}

#find-links {
  padding: 5px;
}

.jumbotron {
  background-color: white;
  border: solid 5px;
  border-color: rgb(255, 237, 136);
  margin: 10px;
}

#profileImg {
  float: right;
  border-radius: 50%;
  border: solid 5px;
  border-color: #f5cbc9;
  margin: 10px;
}

#contactP {
  font-size: 20px;
}

.listItems {
  font-size: 20px;
}

.links {
  color: #a6d6e8;
}

#contactContent {
  text-align: center;
}

#backgroundCard {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

#contactCard{
  margin-bottom: 40px !important;
}

#vantajs {
  width: auto; 
}

#openingHead {
  font-size: 64px !important;
  color: black;
  padding-top: 350px !important
}

#openingText {
  color: black;
  font-size: 24px;
}

.arrow {
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 50vh;
}

#skills {
  justify-content: center;
}