body {
  background-color: lavender;
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

h1 {
  font-family: "Oswald", cursive;
  font-size: 60px;
  color: black;
}

.fab{
  padding: 5px;
  font-size: 20px;
  width: 30px;
  border-radius: 100%;
}

.fab:hover {
  color: rgb(154, 86, 86);
}

.fa-instagram {
  background: none;
  color: black;
}

.fa-linkedin {
  background: none;
  color: black;
}

.fa-github {
  background: none;
  color: black;
}

#find-links {
  padding: 5px;
}

#profileImg {
  border: solid 5px;
  border-color: black;
  margin: 10px;
  height: 300px;
  width: 230px;
  border-radius: 100%;
}

.listItems {
  font-size: 20px;
}

#contactContent {
  text-align: center;
}

#vantajs {
  width: auto;
}

#openingHead {
  font-size: 64px !important;
  color: black;
  padding-top: 350px !important;
}

#openingText {
  color: black;
  font-size: 24px;
}

.arrow {
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 50vh;
}

#skills {
  justify-content: center;
  border-top: solid black;
}

#portfolio {
  border-top: solid black;
}

.card {
  background: transparent;
  display: inline-block;
  border: none;
}

#contactP {
  font-size: 24px;
}

#contact {
  border-top: solid black;
}

#navbarSupportedContent{
  justify-content: right !important;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

.btn {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  border: black;
}

.btn:hover {
  background-color: rgb(154, 86, 86);
  color: black;
  border: white;
}

#contactIcons{
  font-size: 40px !important;
}

#portfolioCards{
  overflow: auto !important;
  display: row !important;
  width: 100vw;
}

.card-img-top {
  border-radius: 20px !important;
  text-align: center !important;
  width: 200px !important;
  height: 200px !important;
  
  }

  #indexCont {
    height: auto !important;
  }